.snak{
width:33.33333333333333333333333333333333333333333333333333333vw;
height:33.33333333333333333333333333333333333333333333333333333vh;
background-repeat: no-repeat;
  background-size: 34.33333333333333333333333333333333333333333333333333333vw 34.33333333333333333333333333333333333333333333333333333vh;
}



#top-left{
background-image:url(https://cms.bbcearth.com/sites/default/files/inline-images/cobra-khkohh-Factfile_BBC-Earth-Factfiles-.jpg);
grid-column:1;
grid-row:1;
}
#top-mid{
background-image:url(https://www.australianwildlife.org/sites/default/files/media/image/2025-07/Beneath%20the%20scales_1.jpg);
grid-column:1;
grid-row:2;
}
#top-right{
background-image:url(https://www.rainforesttrust.org/app/uploads/2024/07/Cobra-by-Skynavin-1920x1300-shutterstock_688611442-aspect-ratio-1000-715.jpg);
grid-column:1;
grid-row:3;
}
#mid-left{
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdUkzKpY2iolZ4Mo9bA_BjFnkIzFiauOYdpw&s);
grid-column:2;
grid-row:1;
}
#mid-mid{
background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Eastern_Milksnake_%28Lampropeltis_triangulum%291.jpg/250px-Eastern_Milksnake_%28Lampropeltis_triangulum%291.jpg);
grid-column:2;
grid-row:2;
}
#mid-right{
background-image:url(https://cdn.mos.cms.futurecdn.net/7grkegytV4qrcMb9zSQT8V.jpg);
grid-column:2;
grid-row:3;
}
#bot-left{
background-image:url(https://www.thehills.nsw.gov.au/files/assets/public/v/1/environment-images/red-belly-black-snake.png?w=1200);
grid-column:3;
grid-row:1;
}
#bot-mid{
background-image:url(https://www.museum.qld.gov.au/assets/media/project/qm/qm-website/learn-and-discover/animals-of-queensland/snakes/image-carousel-carpet-snake.jpg);
grid-column:3;
grid-row:2;
}
#bot-right{
background-image:url(https://www.nhm.ac.uk/content/dam/nhm-www/discover/giant-snakes/king-cobra-longest-venomous-snake-two-column.jpg);
grid-column:3;
grid-row:3;
}
body{
 margin:0px;
 display:grid;
}